<main class="main">
  <from class="container">
    <div class="output">
      <p class="container__account js-account">0</p>
      <input
        class="container__input"
        type="text"
        name="number"
        id="result"
        placeholder="0"
      />
    </div>
    <button class="container__btn js-btn">1</button>
    <button class="container__btn js-btn">2</button>
    <button class="container__btn js-btn">3</button>
    <button class="container__btn yellow js-btnDelete">C</button>
    <button class="container__btn js-btn">4</button>
    <button class="container__btn js-btn">5</button>
    <button class="container__btn js-btn">6</button>
    <button class="container__btn red js-btnOperation">-</button>
    <button class="container__btn js-btn">7</button>
    <button class="container__btn js-btn">8</button>
    <button class="container__btn js-btn">9</button>
    <button class="container__btn red js-btnOperation">/</button>
    <button class="container__btn js-btn">0</button>
    <button class="container__btn green js-btnSame">=</button>
    <button class="container__btn red js-btnOperation">+</button>
    <button class="container__btn red js-btnOperation">x</button>
  </from>
</main>
